{% extends 'blog/base.html' %}
{% block content %}
<h2 class="mb-4">Artículos de Sostenibilidad</h2>

{% if sostenibilidades %}
  <ul class="list-group">
    {% for item in sostenibilidades %}
    <li class="list-group-item bg-dark text-light mb-2">
      <strong>{{ item.titulo }}</strong><br>
      <span class="text-secondary">Fecha: {{ item.fecha_publicacion }}</span>
      <br>
      {% if item.categorias.all %}
        <small>Categorías: 
          {% for cat in item.categorias.all %}
            {{ cat.nombre }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small><br>
      {% endif %}
      {% if item.etiquetas.all %}
        <small>Etiquetas: 
          {% for etq in item.etiquetas.all %}
            #{{ etq.nombre }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small><br>
      {% endif %}
      <br>
      <a href="{% url 'detalle_sostenibilidad' item.pk %}" class="btn btn-hacker btn-sm">
        Ver detalles
      </a>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No hay artículos de Sostenibilidad publicados aún.</p>
{% endif %}
{% endblock %}
